# ROS 2 build and install directories
/build/
/install/

# Logs and debugging files
/log/
/*.log

# ROS 2 workspace files
/.colcon/
/.colcon_workspace

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary files
*.swp
*.swo
*.tmp
*.bak

# IDE specific files
.idea/
.vscode/
*.code-workspace

# Virtual environment
venv/
.env/